@model IEnumerable<CrudICBF.Models.Ninio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiudadNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificacionAcudienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificacionMadreComNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificadorJardinNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSangre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificacionAcudienteNavigation.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificacionMadreComNavigation.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificadorJardinNavigation.IdentificadorJardin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegistroNiup">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegistroNiup">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegistroNiup">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
