@model IEnumerable<CrudICBF.Models.Jardin>

@{
    ViewData["Title"] = "Index";
}

<h1>Jardines</h1>

<form asp-action="Create">
    <button class="btn btn-primary" type="submit">Nuevo Registro</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreJardin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreJardin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
                <td>
                    <form asp-action="Details" asp-route-id="@item.IdentificadorJardin" style="display: inline;">
                        <button class="btn btn-warning" type="submit">Detalles</button>
                    </form>

                    <form asp-action="Edit" asp-route-id="@item.IdentificadorJardin" style="display: inline;">
                        <button class="btn btn-primary" type="submit">Editar</button>
                    </form>
             
                    <form asp-action="Delete" asp-route-id="@item.IdentificadorJardin" style="display: inline;">
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                    </form>
                </td>

        </tr>
}
    </tbody>
</table>
