@model IEnumerable<CrudICBF.Models.Acudiente>

@{
    ViewData["Title"] = "Index";
}

<h1>Acudientes</h1>

<form asp-action="Create">
    <button class="btn btn-primary" type="submit">Nuevo Registro</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cedula">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Cedula">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Cedula">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
